<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @yoyaku.name %>様、Tasky5ソロライブへのご予約ありがとうございます。</h1>
      <p>
      <%= @yoyaku.amount %>名様のご予約を受け付けました。
      <br>
    </p>
    <p>
      日程が近づきましたら、再度ご連絡差し上げます。
    </p>
    <p><%= @yoyaku.name %>様に四谷天窓でお会いできるのを、メンバー一同心から楽しみにしています。</p>
  </body>
</html>
